html {}

body {
    background: #272822;
    color: #B9A12D;
    font: 14px/10px monospace;
    white-space: nowrap;
    position: relative;
}

a {
    color: #FF9706;
}

#page-wrap {
    padding: 25px;
    position: absolute;
    z-index: 10;
}

.gravatar-image {
    margin: 0 0 15px;
}

.main-content {
    margin: 0 0 50px;
}

.main-content p {}

.links {
    margin: 0 0 50px;
}

.links a {
    display: block;
    margin: 5px 0 25px;
}

.links .title {
    padding: 0 0 15px;
    text-transform: uppercase;
}

.social {
    margin: 0 0 25px;
}

.social .cell {
    margin: 0 0 5px;
}

.canvas-info {
    margin: 0 0 25px;
}

.copy {}


/* CANVAS */

canvas {
    z-index: 1;
}
