html {}

body {
    background: #272822;
    color: #B9A12D;
    font: 14px/10px monospace;
}

a {
    color: #FF9706;
}


#page-wrap {
    padding: 25px;
}

.gravatar-image {
    margin: 0 0 15px;
}

.main-content {
    margin: 0 0 50px;
}

.main-content p {}

.links {
    margin: 0 0 50px;
}

.links a {
    display: block;
    margin: 5px 0 25px;
}

.social {}

.social .cell {
    margin: 0 0 5px;
}
